/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "modules.custom.*";

s|View
{
	background-color: #484848;
}

s|TitleWindow
{
	background-color: #484848;
}

components|CustomComboBox
{
	skinClass: ClassReference("modules.custom.skins.CustomComboBoxSkin");
	popupSkinClass: ClassReference("modules.custom.skins.PopUpUniqueChoiceSkin");
}

.componentContainerStyle
{
	skinClass: ClassReference("modules.custom.skins.AndroidContainerSkin");
}

/* TextInputStyle */
.DefLabel {
	contentBackgroundAlpha: 0;
	color: #FFFFFF;
	borderVisible: false;
}

.HeaderLabel {
	contentBackgroundAlpha: 0;
	color: #FFFFFF;
	textAlign: right;
	borderVisible: false;
}

.UpperLabel {
	contentBackgroundAlpha: 0;
	color: #FFFFFF;
	textAlign: left;
	borderVisible: false;
}

.InputItem {
	contentBackgroundColor: #FFFFFF;
}

.InputItemMust {
	contentBackgroundColor: #FFFFAC;
}

.InputItemNum {
	contentBackgroundColor: #FFFFFF;
	textAlign: right;
}

.InputItemNumMust {
	contentBackgroundColor: #FFFFAC;
	textAlign: right;
}

.DisplayItem {
	contentBackgroundAlpha: 0;
	color: #FFFFFF;
	borderVisible: false;
	verticalAlign: middle;
}

.DisplayItemNum {
	contentBackgroundAlpha: 0;
	color: #FFFFFF;
	borderVisible: false;
	textAlign: right;
	verticalAlign: middle;
	paddingRight: 2;
}